<nav class="navbar navbar-expand-lg navbar-light text-light p-0"> 
  <div class="d-flex justify-content-between bg-info w-100 align-items-center p-3">
      <div class = "pl-3">
         <h6>Program Reviews</h6>
      </div>
      <div class = " ">
        <i class="fas fa-pencil-alt"></i>
        <i class="fas fa-envelope"></i>
        <i class="fas fa-search"></i>
        <i class="fas fa-cog"></i>
      </div>
  </div>
</nav>

