<div class="column px-2">
	<nav class="panel">
		<h6 class="panel-heading font-weight-bold p-2 pb-3 border-bottom">WHO TO FOLLOW</h6>
	<% @users.each do |user| %>
	  
		<div class="panel-block p-2"> 
			<article class="media">
				<div class="media-left">
					<div class="picture">
					 
					   <%=  current_user_gravatar(user) %>
                  
                      
					</div>
				</div>
				<div class="media-content">
					<div class="content ml-2 d-flex flex-column">	
							<h6 class="font-weight-bold text-body"><%= link_to user.fullname, user_path(user)%></h6>
							<span>@<%= user.username %></span>
					</div>
				</div>
			</article>
		</div>
	
  <% end %>
  </nav>
  </div>