<div class = "container-fluid d-flex">
  <div class = "row">
    <div class = "col-2 bg-secondary">
      <aside>
        <%= render 'sidenav'%>
      </aside>
    </div>
    <div class="col-10 p-0">
      <%= render 'reviews/nav'%> 
        <div class="row m-0">
          <div class = "col-8 p-0">
          
            <div class = "home-page border-right">
              <h5 class="heading-tweet border-bottom p-3 font-weight-bold">TWEETS</h5>
              <div class="p-3 ">
                <%= render 'feed' %>
                </div>
            </div>
          </div>
          <div class = "col-4 home-page p-0">
            <aside>
              <%= render 'reviews/who_to_follow'%>
            </aside>
          </div>
          </div>
    </div>
  </div>
  
</div>